@font-face {
    font-family: "Avenir Next";
    src: url("/font/AvenirNextCyr-Regular.woff2");
}

body {
    margin: 0;
    padding: 0;
    font-family: "Avenir Next", sans-serif;
}

a {
    text-decoration: none;
    font-style: normal;
    color: white;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

li {
    user-select: none;
}

.title {
    font-weight: 400;
    font-size: 72px;
    line-height: 98px;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 8px;
}


h4 {
    font-weight: 400;
    font-size: 64px;
    line-height: 87px;
    color: #000000;
    text-align: center;
    margin: 0;
}

header {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;

    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 80px 10px 40px;
        position: relative;

        .hamburger-toogle {
            display: none;
        }

        .dropdown {
            float: left;
            overflow: hidden;

            &::after {
                width: 10px;
                height: 10px;
                background-image: url('/images/background-1.png');
            }

            .dropbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 12px 17px;
                background-color: inherit;
                margin: 0;
                cursor: pointer;

                i {
                    font-weight: bold;
                    padding-left: 14px;
                }

            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                background: #000000;
                border-radius: 4px;
                z-index: 1;
                padding: 6px 0;
                margin-left: 17px;
                opacity: 0;
                animation: ani .7s forwards;

                a {
                    float: none;
                    color: #FFFFFF;
                    text-shadow: 0px 1px 0 transparent;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 19px;
                    padding: 6px 0;
                    margin: 0 12px;
                    text-decoration: none;
                    display: block;
                    text-align: left;
                    border-bottom: 1px solid rgba(232, 232, 232, 0.12);
                    transition: transform .2s;

                    &:hover {
                        border-bottom: 1px solid rgba(232, 232, 232, 0.32);
                        text-shadow: 0px 1px 0 #FFFFFF;
                    }
                }
            }

            &:hover {
                .dropdown-content {
                    display: block;
                }
            }
        }

        ul {
            display: flex;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                a {
                    font-weight: 500;
                    font-size: 18px;
                    color: #FFFFFF;
                    line-height: 24px;
                    padding: 0 17px;


                    text-decoration: none;
                    position: relative;

                    &:hover {
                        &:before {
                            visibility: visible;
                            transform: scaleX(1);
                            opacity: 1;
                        }
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        width: 80%;
                        left: 10%;
                        height: 1px;
                        bottom: -10px;
                        background-color: #FFFFFF;
                        visibility: hidden;
                        transform: scaleX(0);
                        transition: all 0.2s ease-in-out;
                    }
                }

            }
        }

    }

    .button {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        background: #000000;
        padding: 10px 12px;
        border-radius: 8px;
    }

    .mobile-navigation {
        display: none;
        align-items: center;
        padding: 32px 22px;

        .hamburger-toogle {
            padding-right: 14px;
            color: #FFFFFF;
        }

        .logo {
            margin-right: auto;
        }

        .mobile-navigation-conteiner {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            width: 85%;
            max-width: 500px;
            height: 100vh;
            background: white;
            animation: anim .5s linear forwards;

            .logo-row {
                padding: 34px 24px 0 20px;
                display: flex;
                align-items: center;

                .close-mobile-navigation {
                    width: 20px;
                }
            }

            .wrapper {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                margin: 20px;
                background: #F9F9F9;
                border-radius: 12px;
                padding: 10px 32px;

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        padding-bottom: 32px;

                        a {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 22px;
                            align-items: center;
                            color: #02323D;
                        }
                    }

                    .submenu {
                        padding-top: 16px;

                        li {
                            padding: 12px 10px;
                        }
                    }
                }

                .button {
                    margin: 0 20px;
                    text-align: center;
                    animation: .4s fadeIn;
                    animation-fill-mode: forwards;
                    visibility: hidden;
                }

                .footer {
                    display: flex;
                    flex-direction: column;
                    margin-top: auto;

                    .row {
                        ul {
                            display: flex;
                            justify-content: space-around;
                            margin: 0;
                            padding: 12px 0;

                            li {
                                padding: 0;
                            }

                            &.media {
                                border-bottom: 1px solid #E8E8E8;
                                border-top: 1px solid #E8E8E8;
                            }
                        }
                    }
                }
            }

            &.hidde-navigation {
                display: none;
            }
        }
    }
}


section {
    width: 100%;
    height: 100vh;
    display: flex;

    .wrapper {
        padding: 0 80px;
    }

    &#section-1 {
        background-image: url('/images/screen-1/background-1-m.png');
        background-size: 100% 100%;

        .wrapper {
            width: 55%;
            max-width: 55%;
            max-width: 750px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .description {
                font-weight: 500;
                font-size: 24px;
                line-height: 33px;
                color: #FFFFFF;
                margin: 0;
                padding-bottom: 8px;
                text-align: justify;
            }

            .custom-search {
                position: relative;
                width: 100%;

                .custom-search-input {
                    width: 100%;
                    border: 1px solid #ccc;
                    border-radius: 8px;
                    padding: 12px 100px 12px 12px;
                    line-height: 1;
                    box-sizing: border-box;
                    outline: none;
                }

                .custom-search-botton {
                    position: absolute;
                    right: 3px;
                    top: 3px;
                    bottom: 3px;
                    border: 0;
                    background: #000000;
                    border-radius: 8px;
                    color: #FFFFFF;
                    outline: none;
                    margin: 0;
                    padding: 10px 12px;
                    border-radius: 8px;
                    z-index: 2;
                    cursor: pointer;
                }
            }
        }

    }

    &#section-2 {
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            background: linear-gradient(360deg, #F9F9F9 0%, rgba(255, 255, 255, 0) 100%);

            .title {
                color: #000000;
                padding: 0;
            }

            .container {
                display: flex;
                flex-wrap: wrap;

                .block {
                    width: calc(50% - 40px);
                    box-sizing: border-box;
                    background: #F9F9F9;
                    box-shadow: 0px 6px 24px rgba(66, 98, 146, 0.15);
                    border-radius: 16px;
                    padding: 16px;
                    margin: 20px;
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 25px;
                    color: #02323D;
                    transition: all .5s;

                    &:hover {
                        cursor: pointer;
                        box-shadow: 0px 6px 24px rgba(66, 98, 146, 0.35);
                    }
                }
            }
        }
    }
}


// media for header

@media (max-width: 950px) {
    header {
        .navigation {
            display: none;
        }

        .mobile-navigation {
            display: flex;
        }
    }
}

@media (max-height: 730px) and (max-width: 450px) {
    header {
        .mobile-navigation {
            .mobile-navigation-conteiner {

                .logo-row {
                    padding-top: 25px
                }

                .wrapper {
                    margin-top: 15px;

                    .tab {
                        padding-bottom: 25px;

                        .tab-content {

                            .submenu {
                                li {
                                    padding: 8px 10px;
                                }
                            }
                        }
                    }

                    ul {
                        li {
                            padding-bottom: 25px;
                        }
                    }
                }

            }
        }
    }
}

@keyframes ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes anim {
    0% {
        opacity: 0;
        width: 0;
    }

    70% {
        opacity: 1;
        width: 80%;
        max-width: 600px;
    }
}

@keyframes fadeIn {
    99% {
        visibility: hidden;
    }

    100% {
        visibility: visible;

    }
}

/* Acordeon styles */
.tab {
    position: relative;
    padding-bottom: 32px;
    width: 100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
}

.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tab label {
    position: relative;
    display: block;
    line-height: 3;
    cursor: pointer;
    height: 32px;
    user-select: none;

}

.tab-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}


.tab-content p {
    margin: 1em;
}

/* :checked */
.tab input:checked~.tab-content {
    max-height: 100vh;
}

/* Icon */
.tab label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.tab input[type=checkbox]+label::after {
    content: " ";
    background-image: url('/images/icons/arrow-down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
}

.tab input[type=checkbox]:checked+label::after {
    transform: rotate(180deg);
}

.tab input[type=radio]:checked+label::after {
    transform: rotateX(180deg);
}

// end media for header

// --------- media for all screen ---------
@media (max-width: 950px) {

    section {
        .wrapper {
            padding: 0 40px;

            .title {
                font-size: 39px;
                line-height: 53px;
            }

            h4 {
                font-size: 33px;
                line-height: 35px;
            }
        }
    }
}

@media (max-width: 600px) {

    section {
        .wrapper {
            padding: 0 20px;
        }
    }
}

@media (max-width: 1100px) {
    .title {
        font-size: 55px;
        line-height: 55px;
        padding-bottom: 25px;
    }

    h4 {
        font-size: 50px;
        line-height: 50px;
    }
}

@media (max-width: 1280px) {
    .title {
        font-size: 60px;
        line-height: 60px;
    }

    h4 {
        font-size: 55px;
        line-height: 55px;
    }
}


// --------- end media for all screen ---------

// media for screen 1
@media (max-width: 1280px) {
    section {
        &#section-1 {
            .wrapper {
                width: 55%;

                .description {
                    text-align: initial;
                }

            }
        }
    }
}

@media (max-width: 1100px) {
    section {
        &#section-1 {
            background-image: url('/images/screen-1/background-1-mobile.png');
            background-position: right;
            background-size: cover;

            .wrapper {
                width: 60%;

                .title {
                    padding-bottom: 25px;
                }

                .description {
                    text-align: initial;
                }

            }
        }
    }
}

@media (max-width: 950px) {
    section {
        &#section-1 {
            .wrapper {
                .description {
                    font-size: 18px;
                    line-height: 25px;
                    padding-bottom: 24px;
                }

            }
        }
    }
}

@media (max-width: 600px) {
    section {
        &#section-1 {
            .wrapper {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}

// end for screen 1

// media for screen 2

@media (max-width: 600px) {
    section {
        &#section-2 {
            .wrapper {

                .title{
                    font-size: 36px;
                }
                .container {
                    .block {
                        margin: 10px 0;
                        font-size: 15px;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media  (max-width: 370px) {
    section {
        &#section-2 {
            height: auto !important;
            .wrapper {

                .title, h4{
                    font-size: 26px;
                    padding: 20px 0;
                }
                .container {
                    .block {
                        font-size: 14px;
                        margin: 10px 0;
                        margin: 15px 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
    section {
        &#section-2 {
            height: auto;
            .wrapper {

                .title, h4{
                    font-size: 36px;
                    padding: 20px 0;
                }
                .container {
                    .block {
                        margin: 10px 0;
                        font-size: 15px;
                        width: 100%;
                    }
                }
            }
        }
    }
  }
  

// end for screen 2